/*.nav,
footer.page-footer {
    background-color: #0068A9;
}*/

.page-footer {
    /* position: fixed; */
    bottom: 0;
}

.row .col.sidebar {
    padding: 0;
}

.sidebar {
    height: 100%;
    position: fixed;
    transition: opacity 1s ease-in-out;
}

.sidebar .sidebar-menu {
    margin-top: 0;
    height: 100%;
}

.sidebar-menu li:not(.user-area) {
    float: none;
    line-height: 48px;
}

.sidebar-menu .pesquisar {
    width: 80%;
    margin: 5px auto 5px auto;
}

.sidebar-menu li>a {
    display: block;
    font-size: 14px;
    font-weight: 500;
    height: 48px;
    line-height: 48px;
    padding: 0 16px;
}

.sidebar-menu li>a:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

.sidebar-menu li>a>i.material-icons,
.sidebar-menu li>a>i {
    float: left;
    height: 45px;
    line-height: 45px;
    margin: 0 30px 0 0;
}

.userView {
    padding: 16px 16px 0;
    position: relative;
    margin-bottom: 8px;
}

.userView .background {
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
}

.userView>a {
    height: auto;
    padding: 0;
}

.userView .circle {
    height: 64px;
    width: 64px;
}

.userView .name {
    margin-top: 16px;
    font-weight: 500;
}

.userView .name,
.userView .email {
    font-size: 14px;
    line-height: 24px;
}

.userView .circle,
.userView .name,
.userView .email {
    display: block;
}

.dt-buttons {
    margin-top: 16px;
}

.dt-buttons a {
    margin: 0 0 0 16px;
}

#dt-table_length {
    float: left;
}

nav i.medium {
    font-size: 4rem;
}

nav .brand-logo img {
    height: 60px;
    margin: 2px 0 0 15px;
}

.preloader-background {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #eee;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#dropdown-user {
    margin-top: 65px;
}

@media only screen and (min-width: 993px) {
    .row .col.conteudo,
    .page-footer,
    .preloader-background {
        width: 75%;
        margin-left: 25%;
    }
    #dt-table_length {
        visibility: visible;
    }
    #area-search {
        float: left;
        margin-left: 0;
    }
}

@media only screen and (max-width: 992px) {
    .row .col.sidebar,
    #dt-table_length {
        display: none;
    }
    .row .col.conteudo,
    .page-footer {
        width: 100%;
        position: static;
    }
    #area-search {
        float: initial;
        margin-left: 0;
    }
}

@media only screen and (max-width: 600px) {
    .navbar-fixed .brand-logo img {
        height: 50px;
    }
}